// ベースグループ
div,p,h1,h2,h3,h4,h5{
    margin: 0!important;
}

body{
    font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none!important;
    color: white!important;
}

h3{
    font-weight: bold!important;
    line-height: 55px!important;
}

figure{
    margin: 0!important;
}

@mixin absolute($x, $y){
    position: absolute;
    top: $x;
    left: $y;
}

@mixin sns-button($bg:black){
    background-color: $bg;
    display: inline-block;
    padding: 3px 10px;
    margin: 0 5px;
    border-radius: 5px;
    transition: 0.1s;
    &:hover{
        background-color: #87cefa;
    }
}

// レイアウトグループ
header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 85px; 
    background-color: white;
    .header-container{
        position: relative;
        height: 100%;
        .logo-container{
            @include absolute(10px, 12px);
            p{
                font-size: .85rem;
                font-weight: bold;
            }
            .logo-img{
                height: 42px;
                width: 120px;
            }
        }
        .form-container{
            position: absolute;
            top: 0;
            right: 0;
            width: 100px;
            height: 100%;
            background-color: #da6b64;
            transition: 0.1s;
            &:hover{
                background-color: #fa8072;
            }
            .form-container-contents{
                @include absolute(13px, 14px);
            }
            .form-img{
                height: 34px;
                width: 26px;
            }
            p{
                color: whitesmoke;
                font-size: .95rem;
                letter-spacing: 3px;
            }
        }
    }
}

#top{
    position: relative;
    margin-top:85px;
    .top-container{
        @include absolute(50%, 50%);
        transform: translateY(-50%) translateX(-50%);
        background-color:rgba(255,255,255,0.7);
        width: 380px;
        height: 380px; 
        border-radius: 50%;
        padding: 1rem;
        p{
            font-weight: bold;
        }
        .top-message1{
            padding: 2rem 0 1rem 0;
            p{
                font-size: 1.5rem;
            }
        }
        .top-message2{
            padding: 1rem 0 2rem 0;
            p{
                font-size: 1.1rem;
            }
        }
    }
}

#recruitment{
    background-color: #ebb94d;
    padding: 25px 0;
    p{
        font-size: 1.3rem;
        color: white;
    }
    .precaution-container{
        margin-top: 15px!important;
        .precaution{
            display: inline-block;
            border-radius: 5px;
            color: #c7254e;
            font-size: 1.1rem;
            font-weight: bold;
            letter-spacing: 1px;
            padding:0 7px;
            background-color: #f9f2f4;
        }
    }
    .form-button{
        display: inline-block;
        font-size: 1.7rem;
        font-weight: bold;
        margin: 40px 0;
        padding: 25px 150px;
        background-color: #da6b64;
        border-radius: 70px;
        transition: 0.1s;
        &:hover{
            background-color: #fa8072;
        }
    }
    .sns-buttons{
        padding-bottom: 20px;
        .twitter{
            @include sns-button(#1b95e0);
        }
        .good{
            @include sns-button(#4267b2);
        }
        .share{
            @include sns-button(#4267b2);
        }
    }
}

#goal{
    padding: 40px 0 0 0;
    p{
        font-size: 1.2rem;
        line-height: 35px;
        padding: 20px 0;
    }
    span{
        background: linear-gradient(transparent 70%, #ebb94d 70%);
        font-weight: bold;
    }
}

#about{
    background-color: #fef5e0;
    padding: 80px 0 80px 0;
    position: relative;
    p{
        font-size: 1.3rem;
        font-weight: bold;
    }
    .skills-container{
        background-color: white;
        border: solid 3px #ebb94d;
        width: 90%;
        margin: 45px auto 0 auto!important;
        padding: 20px 0 10px 0;
        text-align: center;
        .skills-contents{
            width: 90%;
            margin: 30px auto 0 auto!important;
            img{
                width: auto;
                height: 50px;
            }
            figcaption{
                font-size: .8rem;
                padding: 10px 0 20px 0;
                letter-spacing: .1rem;
            }
        }
    }
    .about-icon{
        @include absolute(-40px, 50%);
        transform: translateY(0) translateX(-50%);
        color: white;
        background-color: #ebb94d;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        letter-spacing: .2rem;
        text-align: center;
        padding: 28px 0;
    }
}

#step{
    color: white;
    span{
        color: #ffa500;
    }
    .step-container{
        background-image: url("../img/top.jpg");
        padding: 60px 0;
        h3{
            line-height: 30px!important;
            font-size: 1.5rem;
            margin-bottom: 25px!important;
            letter-spacing: .2rem;
        }
        p{
            font-size: 1.1rem!important;
            margin-bottom: 15px!important;
        }
        .step-contents{
            width: 88%;
            margin: 0 auto!important;
            padding-top: 10px;
        }
    }

    .need{
        background-color: #016ea9;
        padding: 27px 0;
        p{
            font-size: 1rem!important;
            letter-spacing: .2rem;
        }
    }
}

#study{
    padding: 60px 0 40px 0!important;
    letter-spacing: .2rem;
    span{
        font-size: 1rem;
    }
    h3{
        margin-bottom: 60px!important;
    }
    p{
        font-size: 1.3rem;
    }
    .study-container{
        margin: 0 auto!important;
        width: 80%;
    }
    .study-container p{
        font-size: 1rem;
        font-weight: bold;
    }
}

// モジュール（コンポーネント）グループ
.recruitment-container{
    padding-bottom: 25px;
}

.title{
    width: 95%;
    margin: 0 auto 10px auto!important;
    padding: 35px 0 25px 0;
    position: relative;
    .top-left{
        width: 40px;
        height: 40px;
        border-top: solid 6px #ebb94d;
        border-left: solid 6px #ebb94d;
        @include absolute(0, 0);
    }
    .bottom-right{
        width: 40px;
        height: 40px;
        border-bottom: solid 6px #ebb94d;
        border-right: solid 6px #ebb94d;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.step{
    background-color: white;
    padding: 15px 67px;
    margin-top: 20px!important;
    border-radius: 8px;
    letter-spacing: .2rem;
    .step-number{
        border-radius: 8px;
        background-color: #ebb94d;
        color: white;
    }
    p{
        color: black;
        font-size: 1rem!important;
        font-weight: bold;
        margin-top: 10px!important;
        margin-bottom: 0!important;
    }
    p.step-date{
        letter-spacing: 0;
        margin-top: 20px!important;
    }
}

.study-contents{
    margin: 10px 0!important;
    padding: 50px!important;
    position: relative;
    &::before{
        content:"";
        display: block;
        padding-top: 100%;
    }
    figure{
        background-color: #ebb94d;
        color: white;
        border-radius: 50%;
        margin:7px 7px!important;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        img{
            height: 60%;
            width: auto;
            padding: 23px 0 7px 0;
        }
        figcaption{
            letter-spacing: 0;
            font-size: .7rem;
        }
    }
}

// bootstrapグループ
// 適応させる際はindex.html8行目のCDNコメントアウト、以下の@import(...)をコメントアウトから外す
// @import "../node_modules/bootstrap/scss/bootstrap";
