// ベースグループ
div,p,h1,h2,h3,h4,h5{
    margin: 0!important;
}

body{
    font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none!important;
    color: white!important;
}

p{
    font-size: 1.3rem;
}

@mixin absolute($x, $y){
    position: absolute;
    top: $x;
    left: $y;
}

@mixin sns-button($bg:black){
    background-color: $bg;
    display: inline-block;
    padding: 3px 10px;
    margin: 0 5px;
    border-radius: 5px;
    transition: 0.1s;
    &:hover{
        background-color: #87cefa;
    }
}

// レイアウトグループ
header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 85px; 
    background-color: white;
    .header-container{
        position: relative;
        height: 100%;
        .logo-container{
            @include absolute(10px, 12px);
            p{
                font-size: .85rem;
                font-weight: bold;
            }
            .logo-img{
                height: 42px;
                width: 120px;
            }
        }
        .form-container{
            position: absolute;
            top: 0;
            right: 0;
            width: 100px;
            height: 100%;
            background-color: #da6b64;
            transition: 0.1s;
            &:hover{
                background-color: #fa8072;
            }
            .form-container-contents{
                @include absolute(13px, 14px);
            }
            .form-img{
                height: 34px;
                width: 26px;
            }
            p{
                color: whitesmoke;
                font-size: .95rem;
                letter-spacing: 3px;
            }
        }
    }
}

#top{
    position: relative;
    margin-top:85px;
    .top-container{
        @include absolute(50%, 50%);
        transform: translateY(-50%) translateX(-50%);
        background-color:rgba(255,255,255,0.7);
        border-radius: 50%;
        width: 380px;
        height: 380px; 
        padding: 1rem;
        p{
            font-weight: bold;
        }
        .top-message1{
            padding: 2rem 0 1rem 0;
            p{
                font-size: 1.5rem;
            }
        }
        .top-message2{
            padding: 1rem 0 2rem 0;
            p{
                font-size: 1.1rem;
            }
        }
    }
}

#recruitment{
    background-color: #ebb94d;
    padding: 25px 0;
    p{
        color: white;
    }
    .precaution-container{
        margin-top: 15px!important;
        .precaution{
            display: inline-block;
            border-radius: 5px;
            color: #c7254e;
            font-size: 1.1rem;
            font-weight: bold;
            letter-spacing: 1px;
            padding:0 7px;
            background-color: #f9f2f4;
        }
    }
    .form-button{
        display: inline-block;
        font-size: 1.7rem;
        font-weight: bold;
        margin: 40px 0;
        padding: 25px 150px;
        background-color: #da6b64;
        border-radius: 70px;
        transition: 0.1s;
        &:hover{
            background-color: #fa8072;
        }
    }
    .sns-buttons{
        padding-bottom: 20px;
        .twitter{
            @include sns-button(#1b95e0);
        }
        .good{
            @include sns-button(#4267b2);
        }
        .share{
            @include sns-button(#4267b2);
        }
    }
}

#goal{
    p{
        font-size: 1.2rem;
        line-height: 35px;;
        padding: 23px 0;
    }
    span{
        background: linear-gradient(transparent 70%, #ebb94d 70%);
        font-weight: bold;
    }
}

// モジュール（コンポーネント）グループ
.recruitment-container{
    padding-bottom: 25px;
}

.title{
    width: 95%;
    margin: 40px auto 10px auto!important;
    padding: 20px;
    position: relative;
    h3{
        font-weight: bold;
        line-height: 55px;
    }
    .top-left{
        width: 45px;
        height: 45px;
        border-top: solid 6px #ebb94d;
        border-left: solid 6px #ebb94d;
        @include absolute(0, 0);
    }
    .bottom-right{
        width: 45px;
        height: 45px;
        border-bottom: solid 6px #ebb94d;
        border-right: solid 6px #ebb94d;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

// bootstrapグループ
// 適応させる際はindex.html8行目のCDNコメントアウト、以下の@import(...)をコメントアウトから外す
// @import "../node_modules/bootstrap/scss/bootstrap";
