<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/favicon (6).ico">
        <link rel="stylesheet" href="stylesheet/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <title>iSara[イサラ]｜バンコクのノマドエンジニア育成講座</title>
    </head>

    <body>
        <header>
            <div class="header-container">
                <div class="logo-container">
                    <p>バンコクのノマドエンジニア育成講座</p>
                    <div>
                        <img src="img/isaralogo.png" alt="バンコクのノマドエンジニア育成講座iSara" class="logo-img">
                    </div>
                </div> 
    
                <div class="text-center form-container">
                    <div class="form-container-contents">
                        <div>
                            <img src="img/form.png" alt="資料請求" class="form-img">
                        </div>
                        <p>資料請求</p>
                    </div>
                </div>
            </div>
        </header>

        <div>
            <section id="top">
                <img src="img/top.jpg" alt="トップ写真">
                <div class="text-center top-container">
                    <div class="top-message1">
                        <p>プログラミングで<br>人生の安定を手に入れよう</p>
                    </div>
                    <div>
                        <img src="img/isaralogolarge.png" alt="トップロゴ">
                    </div>
                    <div class="top-message2">
                        <p>バンコクのノマドエンジニア育成講座<br>iSara[イサラ]</p>
                    </div>
                </div>
            </section>

            <section id="recruitment" class="text-center">
                <p>まずは２０日間で、<br>月１０万円稼げるスキルを手にいれよう。</p>
                <div class="precaution-container">
                    <p class="precaution">※受講料金は実質０円です。詳しくは資料請求をどうぞ。</p>
                </div>
                <a href="#" class="form-button">お問い合わせ＆資料請求は<br>こちら</a>
                <recruitment-component
                    v-for="recruitment in recruitments"
                    v-bind:recruitment="recruitment"
                    v-bind:key="recruitment.id"
                ></recruitment-component>
                <div class="sns-buttons">
                    <a href="#" class="twitter"><i class="fab fa-twitter me-2"></i>ツイート</a>
                    <a href="#" class="good"><i class="fas fa-thumbs-up me-2"></i>いいね！</a>
                    <a href="#" class="share"><i class="fab fa-facebook-f me-2"></i>シェア</a>
                </div>
            </section>

            <section id="goal" class="text-center">
                <div class="title">
                    <h3>エンジニアとして<br>
                        本当の自由を手に入れるためには？</h3>
                    <div class="top-left"></div>
                    <div class="bottom-right"></div>
                </div>
                <div>
                    <p>エンジニア需要の高まりに伴い、<br>
                       プログラミングスクールが増えています。<br>
                       しかしそこでの学習の先は、<br>
                       提携して決められた就職先に就職すること。</p>
                    <p>これで本当にいいのですか？<br>
                       日本人エンジニアはアメリカと較べて<br>
                       給料が格段に低い。</p>
                    <p>その理由がここにあり、<br>
                       エンジニアは自分の給料を<br>
                       コントロールすべきなのです。</p>
                    <p>スキルを身につけたエンジニアは、<br>
                       人生をコントロールすることでより自由に。<br>
                       そこで必要なのが <span>「稼ぐ力」</span>です。</p>
                </div>
                <div>
                    <img src="img/goal.jpg" alt="">
                </div>
            </section>

            <section id="about">
                <div class="text-center title">
                    <h3>ノマドエンジニア育成講座<br>
                        iSara[イサラ]とは</h3>
                        <div class="top-left"></div>
                        <div class="bottom-right"></div>
                </div>
                    <p class="text-center">「 稼ぐこと 」にフォーカスした<br>
                        Webエンジニア育成講座です。</p>
                    <div class="skills-container">
                        <p>稼げるエンジニアに必要な<br>５つのスキルとは？</p>
                        <div class="skills-contents">
                            <div class="container-fluid">
                                <div class="row justify-content-center">
                                    <skill-component
                                        v-for="skill in skills"
                                        v-bind:key="skill.id"
                                        v-bind:skill="skill"
                                    ></skill-component>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about-icon">ABOUT</div>
            </section>

            <section id="step" class="text-center">
                <div class="step-container">
                    <div>
                        <h3>iSaraで<br>「基本的なプログラミングスキル」は教えません</h3>
                        <p>基礎的なプログラミングスキルは無料で学べる時代。</p>
                        <p>iSaraでは、基礎知識学習は<br>
                        <span>事前課題</span>と<span>チャットサポート</span>のみ。</p>
                    </div>
                    <div class="step-contents">  
                        <!-- 以下コンポーネント -->
                        <step-component
                            v-for="step in steps"
                            v-bind:key="step.id"
                            v-bind:step="step"
                        ></step-component>
                    </div>
                </div>
                <div class="need">
                    <p>スキルアップしてもフリーランスエンジニア<br>
                       として食べていくことは難しい。<br>
                       フリーランスには<span>プログラミングスキル以外</span>が大切。</p>
                </div>
            </section>

            <section id="study" class="text-center">
                <h3>iSara<span>[イサラ]</span>で学べること</h3>
                <div class="container-fluid">
                    <p>iSaraの学習では、エンジニアとして<br>
                      「稼ぐ」ために必要な能力を身につけます。</p>
                    <div class="row study-container">
                        <!-- 以下コンポーネント -->
                        <study-component
                            v-for="study in studies"
                            v-bind:key="study.id"
                            v-bind:study="study"
                        ></study-component>
                        <p>これらを教えるのがiSaraです。</p>
                    </div>
                </div>
            </section>

            <section id="merit">
                <div class="text-center title">
                    <p>他のプログラミングスクールと<br>
                       ここが違う！</p>
                    <h3>iSara[イサラ]の３つのメリット</h3>
                        <div class="top-left"></div>
                        <div class="bottom-right"></div>
                </div>
                
                <div class="merit-container">
                    <!-- 以下コンポーネント -->
                    <merit-component
                        v-for="merit in merits"
                        v-bind:key="merit.id"
                        v-bind:merit="merit"
                    ></merit-component>

                </div>

                <div class="support text-center">
                    <p class="support1">さらに！帰国後もサポート付き</p>
                    <p class="support2">リモートワーカーのチームを作ることで<br>
                       受注率、受注単価が大幅に向上します。</p>
                    <p class="support3">iSaraは講座が終わって終了ではありません。<br>
                       参加メンバーのチャットグループを作り、帰国後も継続的に案件参加できるようになります。また、チームで働くことで継続的に稼ぎやすい仕組みづくりも構築しております。</p>
                </div>

                <div class="caution text-center">
                    <p>事前課題ができない人はお断りしております。<br>
                       iSaraでは、無料で学べるプログラミング基礎知識は教えません。事前課題一覧はメールで送りつつ、チャットサポートのみ。従って、本気で取り組まないと結果は出ません。</p>
                </div>
            </section>

            <section id="member" class="text-center">
                <h3>創業メンバー</h3>
                <p>実際のフリーランスとして活躍している<br>
                   エンジニアが立ち上げました</p>
                <div class="member-container">
                    <member-component
                        v-for="member in members"
                        v-bind:key="member.id"
                        v-bind:member="member"
                    ></member-component>
                </div>

            </section>
                
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    <script src="js/main.js"></script>
    </body>
</html>